In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [97]:
dataset=pd.read_excel('/content/sample_data/iris.xlsx')

In [98]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [99]:
from pandas.core.common import standardize_mapping
from sklearn.preprocessing import StandardScaler

In [100]:
sr=StandardScaler()

In [101]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[-1]

In [102]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [105]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,dataset['species'],test_size=0.2,random_state=50)

In [106]:
from sklearn.naive_bayes import GaussianNB,CategoricalNB,BernoulliNB
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [107]:
classifer=GaussianNB()

In [108]:
classifer.fit(x_train,y_train)

GaussianNB()

In [109]:
y_pred=classifer.predict(x_test)

In [110]:
print("confusion matrics",confusion_matrix(y_test,y_pred))
print("classification",classification_report(y_test,y_pred))

confusion matrics [[ 9  0  0]
 [ 0 10  2]
 [ 0  0  9]]
classification               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00         9
  versicolor       1.00      0.83      0.91        12
   virginica       0.82      1.00      0.90         9

    accuracy                           0.93        30
   macro avg       0.94      0.94      0.94        30
weighted avg       0.95      0.93      0.93        30